<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.mapper.AuthMapper">

    <update id="modifyUpdateUser">
        update <set>
        <if test="username != null and username.trim() != ''">
            username = #{username},
        </if>
        <if test="email != null and email.trim() != ''">
            email = #{email},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="avatar != null">
            avatar = #{avatar},
        </if>
        <if test="update_time != null">
            update_time = #{updateTime},
        </if>
        where id = #{id}
    </set>
    </update>
</mapper>