<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moxun.mapper.admin.AdminQuestionMapper">
    <delete id="deleteLikesByAnswerIds">
        delete from answers_likes
        where answer_id in
        <foreach collection="answerIds" item="answerId" separator="," open="(" close=")">
            #{answerId}
        </foreach>
    </delete>

    <select id="listQuestions" resultType="com.moxun.Pojo.Vo.QuestionListItemVO">
        select
            id, title, content, user_id, course_id, view_count, answer_count, create_time, update_time, last_answer_time
        from questions
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%')
                OR content LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
        </where>
    </select>
</mapper>
